[submodule "slots/lib/forge-std"]
	path = slots/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "certificate-store/lib/forge-std"]
	path = certificate-store/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "certificate-store/lib/openzeppelin-contracts"]
	path = certificate-store/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "chain-link-functions/lib/forge-std"]
	path = chain-link-functions/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/openzeppelin-foundry-upgrades"]
	path = lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
