[submodule "slots/lib/forge-std"]
	path = slots/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "certificate-store/lib/forge-std"]
	path = certificate-store/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
